#all {
  background-color: black;
  width: 100%;
}

header {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#title {
  font-size: 35px;
}

footer {
  background-color: black;
  color: white;
  padding: 1px;
  display: flex;
  justify-content: center;
}

#container {
  background-color: black;
  width: 85%;
  margin: auto;
}

#img {
  height: 500px;
  text-align: center;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  text-align: start;
  background-color: #516FED;
  border-radius: 15px;
  flex: 2;
}

p {
  font-size: 16.5px;
}

h2 {
  font-size: 26px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: baseline;
}